*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
background-color: black;
}

body{
    color: aquamarine;
    font-family: "Itim" , cursive;
}

h1{
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
}

button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: aqua;
    color: black;
    font-size: 18px;
    cursor: pointer;
}


